attrs==18.1.0
clldutils==2.2.0
colorlog==3.1.4
configparser==3.5.0
csvw==1.2.0
isodate==0.6.0
python-dateutil==2.7.3
regex==2018.6.21
rfc3986==1.1.0
segments==1.2.1
six==1.11.0
tabulate==0.8.2
uritemplate==3.0.0
